* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

body {
    background: #20232A;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}